.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'cabecalho cabecalho'
        'capa-conteudo capa-imagem'
        'organizacao-imagem organizacao-conteudo'
    ;
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}



header {
    grid-area: cabecalho;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

section#capa-conteudo {
    grid-area: capa-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#capa-imagem {
    grid-area: capa-imagem;
}

section#organizacao-imagem {
    grid-area: organizacao-imagem;
}

section#capa-imagem > img, section#organizacao-imagem > img {
    max-width: 100%;
}

section#organizacao-conteudo {
    grid-area: organizacao-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

nav {
    flex-grow: 1;
}

nav ul {
    display: flex;
    list-style: none;
    /* justify-content: space-between;
    align-items: center; */
}

ul a:link, a:visited {
    padding: 10px;
    text-decoration: none;
    color: #484848;
    font-size: 1.2rem;
}

ul a:hover {
    color: #0b5cff;
}

.botao {
    text-decoration: none;
    color: #0b5cff;
    border: 2px solid #0b5cff;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-start;
}

.botao:hover {
    background: #d2e1ff;
}

.botao.destaque {
    background: #0b5cff;
    color: white;
}

.botao.destaque:hover {
    background: #2d73ff;
}


/* Tipografia */
body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-top: 0;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.2rem;
}

.texto-destaque {
    color: #2d73ff;
}


@media ( max-width: 768px ) {
    
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'cabecalho'
            'capa-conteudo'
            'capa-imagem'
            'organizacao-conteudo'
            'organizacao-imagem'
        ;
    }

    header {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 1.8rem;
    }

}
