/* CSS do site americanas de exemplo */
#topo {
    background: red;
}

#promocao {
    background: grey;
}

#produtos-promocao {
    background: lightgray;
}

.destaque {
    background: green;
}


/*
a {
    color: darkgreen;
}

p {
    color: rgb(205 85 85);
}

li {
    background-color: rgb(0, 162, 255);
    border: 1px solid blue;
}

table {
    border: 5px solid maroon;
    background-color: rgb(255,92,0);
}

td {
    border: 2px solid black;    
}
*/
